.item {
  width: 52px;
  height: 52px;
  border: 1px solid #A2A3A4;

  @media only screen and (max-width: 576px) {
    width: 35px;
    height: 35px;
  }

  & a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.disabled-page {
}

.active {
  background: #00A3FF;
  color: #FFFFFF !important;
}

.break-me {
}

.next {
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  //width: 45%;
}

.pagination-page {
}

.previous {
}

.arrow {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-top: 9px solid #000;
  border-right: 9px solid #000;

  &-left {
    transform: rotate(-135deg);
    left: 25%;
  }

  &-right {
    transform: rotate(45deg);
    right: 25%;
  }

  @media only screen and (max-width: 576px) {
    width: 20px;
    height: 20px;
    border-top: 5px solid #000;
    border-right: 5px solid #000;
  }
}

