.repository {
  cursor: pointer;
  height: 100%;
  max-width: 440px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #A2A3A4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 7px 15px 13px;
  color: black;
  text-decoration: none;
  transition: 0.25s ease-in;

  &:hover {
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.75)

  }

  & .title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 18px;
    max-width: 400px;
    overflow: hidden;
  }

  & .authorWrapper {
    gap: 26.5px;
    margin-bottom: 13px;


    & .authorImage {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    & .authorUsername {
      font-size: 18px;
    }
  }

  & .infoWrapper {
    font-size: 16px;
    gap: 40px;
    margin-bottom: 14px;

    & .stargazers {
      gap: 20px;

      & .star {
        unicode-bidi: bidi-override;
        direction: rtl;

        & > span {
          display: inline-block;
          position: relative;
          width: 1.1em;

          &:before {
            content: "\2605";
            font-size: 25px;
          }
        }
      }
    }

    & .watchers {
      gap: 20px;

      & .eye {
        display: block;
        height: 25px;
        width: 25px;
        background-color: black;
        background-image: radial-gradient(closest-side, black 20%, transparent calc(20% + 1px)),
        radial-gradient(closest-side, white 40%, transparent calc(40% + 1px)),
        radial-gradient(circle at 50% 75%, transparent 60%, white calc(60% + 1px)),
        radial-gradient(circle at 50% 25%, transparent 60%, white calc(60% + 1px))
      }

    }

  }

  & .commentWrapper {
    display: flex;

    & > input {
      border: 1px solid #A2A3A4;
      width: 100%;
      height: 54px;
      border-radius: 0;
      padding: 13px;
      border-right: none;
      outline: none;

      &::placeholder {
        color: #000000;
        opacity: 1;
      }
    }

    & .enterCommentBtn {
      background: #00A3FF;
      border: none;
      border-radius: 0;
      max-height: 54px;
      min-width: 64px;

      & .pencil {
        width: 10px;
        height: 36px;
        background: white;
        position: relative;
        transform: rotate(43deg);
      }

      .pencil::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: white;
        top: -13px;
        left: 1px;
        border-radius: 2px;
      }

      .pencil::after {
        content: "";
        position: absolute;
        width: 9px;
        height: 8px;
        background: white;
        left: 1px;
        bottom: -4px;
        transform: rotate(45deg);
        border-radius: 2px;
      }
    }

  }

  & .commentItem {
    //width: 100%;
    padding: 10px 5px;
    margin-bottom: 0;
  }
}


