.footerWrapper {
  width: 100%;
  //padding-bottom: 57px;
  max-width: 1440px;
  padding: 0 25px 57px 25px;
  gap: 30%;

  @media only screen and (max-width: 1400px) {
    gap: 25%;
  }

  @media only screen and (max-width: 992px) {
    //flex-direction: column;
    gap: 13%;
    padding: 10px 25px 30px 25px;
  }
  @media only screen and (max-width: 768px) {
    gap: 20px;
    flex-direction: column;
  }

}