.selectWrapper {
  //width: 35%;

  @media only screen and (max-width: 992px) {
    //width: 25%;
  }
  @media only screen and (max-width: 576px) {
    width: 100%;
  }

  & select {
    width: 71px;
    height: 44px;
  }
}