header {
  width: 100%;
  height: 147px;
  background: #DDDDDD;
  font-size: 14px;
  line-height: 16px;

  & .headerWrapper {
    max-width: 1376px;
    margin: 0 25px;
    width: 100%;

    & .searchInput {
      padding: 14px 23px;
      width: 100%;
      height: 68px;
      border: 1px solid #A2A3A4;
      border-radius: 0;
      border-right: none;
      outline: none;


      &::placeholder {
        color: #000000;
        opacity: 1;
      }
    }

    & .searchBtn {
      background: #00A3FF;
      border: 1px solid #A2A3A4;
      border-radius: 0;
      max-height: 68px;
    }
  }
}