.repositoryContainer {
  display: flex;
  justify-content: flex-start;
  max-width: 1440px;
  padding: 34px 25px 51px 25px;
  width: 100%;
  gap: 28px 23px;
  flex-wrap: wrap;

  @media only screen and (max-width: 1400px) {
    justify-content: center;
  }

  & .loading {
    width: 100%;
    padding-top: 62px;
    text-align: center;
  }
}